body {
  background-image: url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid white;
}

.menu-container{
  margin-top: 30px;
}
/* .menu-container Button{
  margin-right:30px;
}

.menu-container Button:hover{
  background-color: #ffc107;
} */