.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.login-button div {
    cursor: pointer;
}

.logo-section {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menu-area{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-list li {
    margin: 0 15px;
    cursor: pointer;
}

.search-area {
    position: absolute;
    right: 20px;
}

.search-area input{
    width: 200px;
    border: none;
    border-bottom: 1px solid #f277c3;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}

.burger-menu{
    margin-left: 20px;
}

.hide{
    visibility:hidden
}

@media screen and (max-width: 63rem) {
    .hide {
      visibility:visible;
    }
    .menu-list {
      display: none;
    }
    .search-area{
      display: none;
    }
  }

.side-menu {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: burlywood;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index:2
  }
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  } 
  